.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 0 0 3.4rem;
  height: 6rem;
  font-family: "Barlow Condensed", sans-serif;

  .hamburger-btn {
    display: none;
    cursor: pointer;
  }

  .rectangle {
    width: 473px;
    height: 1px;
    position: absolute;
    background: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.25;
    top: 4.1rem;
    left: 10.4rem;
  }

  nav {
    height: 6rem;
    width: 51rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
    -mos-webkit-backdrop-filter: blur(81.5485px);
    position: relative;

    .close-btn {
      display: none;
      cursor: pointer;
    }

    .nav-ul {
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        span {
          font-weight: bold;
        }
        list-style: none;
        padding: 0 1rem;
        cursor: pointer;
        position: relative;

        a {
          text-decoration: none;
        }

        &.active::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 3px;
          left: 0;
          top: 55px;
          background-color: #ffffff;
        }

        &:hover::before {
          content: "";
          position: absolute;
          left: 5px;
          top: 55px;
          width: 100%;
          height: 3px;

          background-color: #ffffff;
          opacity: 0.5;
        }
      }
    }
  }
}

@media screen and (max-width: 770px) {
  .main-header {
    .rectangle {
      display: none;
    }
    nav {
      width: 28rem;
    }
  }
}
@media screen and (max-width: 490px) {
  @supports not (backdrop-filter: blur(81px)) {
    .main-header {
      nav {
        background: rgba(13, 13, 13, 0.8);
      }
    }
  }
  .main-header {
    padding-left: 2rem;
    .logo {
      img {
        width: 40px;
      }
    }
    .hamburger-btn {
      display: block;
      margin-right: 2rem;
      transition: all 0.5s ease;

      &.active {
        transform: translateX(100px);
        display: none;
      }
    }
    nav {
      position: absolute;
      right: 0;
      top: 0;
      width: 70%;
      height: 100vh;
      padding: 0;
      align-items: flex-start;
      z-index: 1;
      backdrop-filter: blur(60px);
      transform: translateX(100%);
      opacity: 0;
      display: none;
      transition: all 0.7s ease-in-out;

      &.nav-active {
        opacity: 1;
        display: block;
        transform: translateX(0);
      }

      .close-btn {
        display: block;
        position: absolute;
        top: 3rem;
        right: 2rem;
      }
      .nav-ul {
        flex-direction: column;
        height: 100vh;
        width: 100%;
        justify-content: space-around;
        align-items: flex-start;
        padding: 10rem 0 20rem;

        li {
          font-size: 1.5rem;
          width: 100%;
          margin: 1rem 0;

          &.active::after {
            content: "";
            width: 4px;
            height: 100%;
            left: 100%;
            top: 0;
            transform: translateX(-100%);
          }
          &:hover::before {
            width: 4px;
            height: 100%;
            left: 100%;
            top: 0;
          }
        }
      }
    }
  }
}
