* {
  font-family: "Bellefair", serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}
body {
  background: url("./assets/home/background-home-desktop.jpg") #0b0d17 no-repeat;
}
#container {
  min-height: 100%;
  max-width: 1440px;
  transition: background 1s ease;
}

.-destination {
  background-image: url("./assets/destination/background-destination-desktop.jpg");
}
.-crew {
  min-height: 100vh;
  background-image: url("./assets/crew/background-crew-desktop.jpg");
  overflow-x: hidden;
}
.-technology {
  background-image: url("./assets/technology/background-technology-desktop.jpg");
  overflow-x: hidden;
}

@media screen and (max-width: 770px) {
  body {
    background-image: url("./assets/home/background-home-tablet.jpg");
  }
  .-destination {
    background-image: url("./assets/destination/background-destination-tablet.jpg");
  }
  .-crew {
    background-image: url("./assets/crew/background-crew-tablet.jpg");
  }
  .-technology {
    background-image: url("./assets/technology/background-technology-tablet.jpg");
  }
}

@media screen and (max-width: 490px) {
  body {
    background: url("./assets/home/background-home-mobile.jpg") no-repeat
      #0b0d17;
  }
  .-destination {
    background: url("./assets/destination/background-destination-mobile.jpg")
      no-repeat #0b0d17;
    background-size: cover;
  }
  .-crew {
    background: url("./assets/crew/background-crew-mobile.jpg") no-repeat
      #0b0d17;
  }
  .-technology {
    background: url("./assets/technology/background-technology-mobile.jpg")
      no-repeat #0b0d17;
    background-size: cover;
  }
} ;
